
@model mapapp.Models.Group

<!-- MAIN FILE -->

<div class="dashboard">

<!--<br>-->

<div class="container-fluid">

<!--meta stuff row-->
<div class="row meta-row">
    <div class="col-md-6"></div>
    <div class="col-md-6 meta-container">
        <a href="/locations/groups/@ViewBag.Group.GroupId/new" class="btn btn-primary">+ New Location</a>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="sidebar">
            <div class="user-info">
                <div class="user-thumbnail">
                    <img src="@ViewBag.CurrentUser.ProfilePic" class="img-circle">
                </div>
                <div class="user-data">
                    <h4>@ViewBag.CurrentUser.Username</h4>
                    <div>@ViewBag.CurrentUser.Name</div>
                </div>
            </div>
            <div class="group-info">
                <div class="lcnt">
                    <h3>@ViewBag.Group.GroupName</h3>
                </div>
            </div>
            <div class="main-data">
                <ul class="nav nav-tabs nav-justified">
                    <li role="presentation" class="active"><a href="#">Users ( @ViewBag.Group.Members.Count )</a></li>
                    <li role="presentation"><a href="#">Places (84)</a></li>
                </ul>
                <div class="group-users">
                    <ul class="list-group gu-user">


                        @foreach (var member in @ViewBag.Group.Members)
                        {
                            <button type="button" class="list-group-item">
                                <span class="gu-thumbnail">
                                    <img src="@member.Member.ProfilePic" class="img-circle">
                                </span>
                                <span class="gu-info">
                                    @member.Member.Username
                                </span>
                            </button>
                        }

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="map-container">
            <div id="map"></div>
        </div>
    </div>
</div>

</div>

</div>

<script src="~/js/groupPage.js"></script>