
<div class="user-groups">

@*test purposes*@

<ul>
    
</ul>

<div class="container">

<h2 class="page-header">Your Groups</h2>

<div class="row">
    @foreach(var user in @ViewBag.userGroups){
        foreach(var group in @user.Groups){
            <div class="col-md-4">
                <div class="group-container">
                    <div class="banner"></div>
                    <div class="layover">
                        <a href="/groups/@group.Organization.GroupId">
                            <span class="user-cnt">@group.Organization.Members.Count Members</span>
                            <h3>@group.Organization.GroupName</h3>
                        </a>
                    </div>
                    <div class="descr">
                        <p>@group.Organization.Description</p>
                    </div>
                </div>
            </div>
        }
    }
</div>

<h2 class="page-header">Suggested Groups</h2>

<div class="row">
    @foreach(var user in @ViewBag.otherGroups){
        foreach(var group in @user.Groups){
            <div class="col-md-4">
                <div class="group-container">
                    <div class="banner"></div>
                    <div class="layover">
                        <a href="/groups/@group.Organization.GroupId">
                            <span class="user-cnt">@group.Organization.Members.Count Members</span>
                            <h3>@group.Organization.GroupName</h3>
                        </a>
                    </div>
                    <div class="descr">
                        <p>@group.Organization.Description</p>
                        <hr>
                        <a href="/joinGroup/@group.Organization.GroupId" class="btn btn-primary btn-block">Join Group</a>
                    </div>
                </div>
            </div>
        }
    }
</div>

</div>

</div>

</div>